<div *ngIf="flashcardDeckTitleArr.length > 0; else newDeck">
  <mat-list>
    <div mat-subheader>Flashcard Decks</div>
    <mat-list-item *ngFor="let title of flashcardDeckTitleArr">
      <mat-icon mat-list-icon>library_books</mat-icon>
      <div mat-line>{{title}}</div>
      <button type="button" mat-raised-button color="primary" (click)="openFlashcardDeck(title)">Open</button>
      &nbsp;&nbsp;
      <button type="button" mat-raised-button color="warn" (click)="openDeleteDeckDialog(title)">Delete</button>
    </mat-list-item>
  </mat-list>
  <br>
  <div class="center-horizontal">
    <button type="button" mat-button color="accent" (click)="openNewDeckDialog()">
      Add <mat-icon inline="true">add</mat-icon>
    </button>
  </div>
</div>
<ng-template #newDeck>
  <div class="center-horizontal no-wrap">
    <h2>Welcome to Flashcard!</h2>
    <button type="button" id="newFlashcardBtn" mat-raised-button color="accent"
    (click)="openNewDeckDialog()">Create a New Flashcard Deck</button>
  </div>
</ng-template>
