<div *ngIf="flashcardDeckTitles.length > 0; else newDeck">
  <mat-list>
    <div mat-subheader>
      Flashcard Decks
      <span class="edit-icon">
        <button type="button" mat-icon-button (click)="toggleEditMode()">
          <mat-icon>edit</mat-icon>
        </button>
      </span>
    </div>
    <div *ngIf="!isEditMode">
      <mat-action-list *ngFor="let title of flashcardDeckTitles">
        <button type="button" mat-list-item (click)="openFlashcardDeck(title)">
          <mat-icon mat-list-icon>library_books</mat-icon>
          <div mat-line>{{title}}</div>
        </button>
      </mat-action-list>
    </div>
    <div *ngIf="isEditMode">
      <br>
      <mat-list-item *ngFor="let title of flashcardDeckTitles">
        <mat-icon mat-list-icon>library_books</mat-icon>
        <div mat-line>{{title}}</div>
        <button type="button" mat-icon-button color="warn" (click)="openDeleteDeckDialog(title)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </div>
  </mat-list>
  <br>
  <div *ngIf="!isEditMode" class="center-horizontal">
    <button type="button" mat-button color="accent" (click)="openNewDeckDialog()">
      Add <mat-icon inline="true">add</mat-icon>
    </button>
  </div>
</div>
<ng-template #newDeck>
  <div class="center-horizontal no-wrap">
    <h2>Welcome to Flashcard!</h2>
    <button type="button" id="newFlashcardBtn" mat-raised-button color="accent"
    (click)="openNewDeckDialog()">Create a New Flashcard Deck</button>
  </div>
</ng-template>
