@use 'src/scss/colors';

.flashcard {
  min-width: 100%;
}

.swiper-button-prev {
  color: black;
}

.swiper-button-next {
  color: black;
}

.question {
  font-size: large;
}

.correct {
  color: colors.$green;
}

.incorrect {
  color: colors.$red;
}

.answer-result {
  font-size: medium;
  margin: 5% 0 0 3%;
}

.answer-result-icon-correct {
  @extend .correct;
  vertical-align: middle;
}

.answer-result-icon-incorrect {
  @extend .incorrect;
  vertical-align: middle;
}
