.flashcard-title {
  margin-top: 1.5%;
}

.flashcard {
  min-width: 100%;
}

.question {
  font-size: large;
}

.correct {
  color: #388e3c;
}

.incorrect {
  color: #d32f2f;
}

.answer-result {
  font-size: medium;
  margin: 5% 0 0 3%;
}

.answer-result-icon-correct {
  @extend .correct;
  vertical-align: middle;
}

.answer-result-icon-incorrect {
  @extend .incorrect;
  vertical-align: middle;
}
