<div *ngIf="!showResults; else results">
  <div class="center-horizontal flashcard-title">
    <h2>{{flashcardDeckTitle}}</h2>
    <h3>Question {{questionCounter + 1}} / {{flashcards.size}}</h3>
  </div>
  <mat-grid-list cols="6" rowHeight="30vh">
    <mat-grid-tile colspan="1">
      <button mat-icon-button [disabled]="questionCounter === 0" (click)="goToPreviousQuestion()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div class="flashcard">
        <mat-card>
          <mat-card-header class="invisible-text">Placeholder Invisible Text</mat-card-header>
          <mat-card-content class="question center-horizontal">
            <span *ngIf="answerResult">{{answerResult.question}}</span>
            <span *ngIf="!answerResult">{{currentQuestion}}</span>
          </mat-card-content>
          <mat-card-footer *ngIf="answerResult" class="center-horizontal">
            <hr>
            <div *ngIf="answerResult.isCorrect; else incorrectAnswer">
              <h4 class="correct">Correct!</h4>
              <h4><strong>{{answerResult.answer}}</strong></h4>
            </div>
            <ng-template #incorrectAnswer>
              <h4 class="incorrect">Incorrect.</h4>
              <h4>The correct answer is <strong>{{answerResult.answer}}</strong></h4>
            </ng-template>
          </mat-card-footer>
          <mat-card-footer *ngIf="!answerResult" class="invisible-text">
            Placeholder Invisible Text
          </mat-card-footer>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <button mat-icon-button [disabled]="questionCounter === (flashcards.size - 1)" (click)="goToNextQuestion()">
        <mat-icon>arrow_forward</mat-icon>
      </button>      
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngIf="!answerResult">
    <mat-grid-list cols="3" rowHeight="20vh">
      <mat-grid-tile>
        <button type="button" mat-raised-button color="primary" (click)="answerQuestion(choiceOne)">{{choiceOne}}</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button type="button" mat-raised-button color="primary" (click)="answerQuestion(choiceTwo)">{{choiceTwo}}</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button type="button" mat-raised-button color="primary" (click)="answerQuestion(choiceThree)">{{choiceThree}}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="answerResults.length === flashcards.size" class="center-horizontal">
    <br>
    <button type="button" mat-raised-button color="accent" (click)="showResultList()">See Results</button>
  </div>
</div>
<ng-template #results>
  <div class="center-horizontal flashcard-title">
    <h2>{{flashcardDeckTitle}}</h2>
    <h3>You answered <strong>{{correctAnswerCount}}</strong> out of {{flashcards.size}} correctly</h3>
  </div>
  <div *ngFor="let result of answerResults; index as i" class="answer-result">
    <div *ngIf="result.isCorrect">
      <mat-icon class="answer-result-icon-correct">check</mat-icon> {{i + 1}}. {{result.question}}:&nbsp;
      <span class="correct">{{result.answer}}</span>
    </div>
    <div *ngIf="!result.isCorrect">
      <mat-icon class="answer-result-icon-incorrect">close</mat-icon> {{i + 1}}. {{result.question}}:&nbsp;
      <s>{{result.userAnswer}}</s>&nbsp;<span class="incorrect">{{result.answer}}</span>
    </div>
  </div>
  <br>
  <div class="center-horizontal">
    <button type="button" mat-raised-button color="accent" (click)="resetFlashcards()">Start Over</button>
  </div>
</ng-template>
