<div class="flashcard">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{flashcardDeckTitle}}</mat-card-title>
      <mat-card-subtitle>Question 1 / 50</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{currentQuestion}}
    </mat-card-content>
    <mat-card-footer class="center-horizontal">
      <h3>{{answerResult}}</h3>
    </mat-card-footer>
  </mat-card>
</div>
<button type="button" mat-raised-button color="primary" (click)="answerQuestion(choiceOne)">{{choiceOne}}</button>
<button type="button" mat-raised-button color="primary" (click)="answerQuestion(choiceTwo)">{{choiceTwo}}</button>
<button type="button" mat-raised-button color="primary" (click)="answerQuestion(choiceThree)">{{choiceThree}}</button>
