<div class="center-horizontal page-title">
  <h2>Create/Edit Flashcard Deck</h2>
</div>
<div class="center-horizontal">
  <button type="button" mat-raised-button color="primary" (click)="saveFlashcardDeck()">
    Save Flashcard Deck <mat-icon inline="true">save</mat-icon>
  </button>
  <br>
  <br>
  <mat-form-field>
    <mat-label>Flashcard Deck Title</mat-label>
    <input matInput placeholder="Comp Sci 101" [formControl]="flashcardDeckTitle" required>
    <mat-error *ngIf="flashcardDeckTitle.invalid">{{deckTitleErrorMessage}}</mat-error>
  </mat-form-field>
  <br>
  <br>
  <div *ngFor="let flashcard of flashcards; let i = index">
    <mat-form-field>
      <mat-label>Question #{{i + 1}}</mat-label>
      <textarea matInput placeholder="What color is made when blue and yellow are mixed?" [(ngModel)]="flashcard.question">{{flashcard.question}}</textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Answer #{{i + 1}}</mat-label>
      <input matInput placeholder="Green" value="{{flashcard.answer}}" [(ngModel)]="flashcard.answer">
    </mat-form-field>
    <br>
    <br>
  </div>
  <button type="button" mat-button color="accent" (click)="addQuestion()">
    Add Question <mat-icon inline="true">add</mat-icon>
  </button>
  <br>
  <br>
  <ng-container *ngIf="flashcardErrorMessage">
    <div class="error-text">{{flashcardErrorMessage}}</div>
    <br>
  </ng-container>
  <button type="button" mat-raised-button color="primary" (click)="saveFlashcardDeck()">
    Save Flashcard Deck <mat-icon inline="true">save</mat-icon>
  </button>
  <br>
  <br>
  <br>
  <p class="upload-help-text">
    Have a CSV file? Upload your questions/answers with the button below. 
    Make sure that your questions are in the first column and your answers
    are in the second column.
  </p>
  <button type="button" mat-raised-button (click)="openNewDeckDialog()">
    Upload... <mat-icon inline="true">publish</mat-icon>
  </button>
</div>
