@use 'colors';

html, body {
  height: 100%; 
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.center-horizontal {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.invisible-text {
  color: white;
}

.warning-text {
  color: colors.$red;
}
